.post-ticket {
    border: 1px solid lightsteelblue;
    min-height: 600px;
}

.like {
    list-style-type: none;
    display: inline-block;
    border: 2px solid lightsteelblue;
    padding: 10px;
    margin: 10px;
    width: 140px;
    text-align: center;
    color: blue;
    background: none;
}

.like:hover {
    background: lightsteelblue;
    color: black;
    transform: scale(1.1);
    cursor: pointer;
}

.edit {
    list-style-type: none;
    display: inline-block;
    border: 2px solid lightsteelblue;
    padding: 10px;
    margin: 10px;
    width: 140px;
    text-align: center;
    color: black;
    background: none;
}

.edit:hover {
    color: red;
    transform: scale(1.1);
    cursor: pointer;
}

.remove {
    list-style-type: none;
    display: inline-block;
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
    width: 140px;
    height: 52px;
    text-align: center;
    color: red;
    background: none;
    font-weight: 600;
}

.remove:hover {
    color: lightsteelblue;
    transform: scale(1.1);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

h3 {
    font-size: 22px;
    margin-bottom: 0;
}