.picture-added-post {
    width: 200px;
    height: 150px;
    border-radius: 50%;
}

.picture-added-post:hover {
    cursor: pointer;
    
}

.background-img {
    background: url("../../../src/images/back-ground-image.jpg") no-repeat; 
    background-size: cover;
    margin: auto;
    min-height: 910px;
}

.added-posts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.added-post {
    color: black;
    cursor: pointer;
    width: 400px;
    border: 2px solid blue;
    text-align: center;
    background: cornflowerblue;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 250px;
    flex-basis: 25%;
    min-height: 280px;
}

.guest {
    text-align: center;
    color: white;
    background-color: cornflowerblue;
    padding: 40px;
    position: absolute;
    top: 40%;
    left: 40%;
}